.accountContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background:linear-gradient(354deg, #ff75b5, #ffb86c);
    background:linear-gradient(337deg, #654ea3, #da98b4);
    background: linear-gradient(270deg, #514a9d, #24c6dc);
    background: linear-gradient(270deg, #204aa5, #3d3875);
}

.accountContainer .left {
    padding: 1rem;
    width: 400px;
    border: 1px solid red;
}

.accountContainer .left h1 {
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 900;
}

.accountContainer .left h1 span {
    color: #cacaca;
    font-size: 1.5rem;
}

.accountContainer .left p {
    font-size: 0.9rem;
    color: #cacaca;
    line-height: 1.6;
}

/* "linear-gradient(354deg, #ff75b5, #ffb86c)",
"linear-gradient(337deg, #654ea3, #da98b4)",
"linear-gradient(270deg, #514a9d, #24c6dc)", */