.FilePreviewWrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    width: 850px;
    margin: 1rem auto;
}

.filePreviewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.FilePreviewWrapper .filePreviewContainer h2 {
    font-size: 1.1rem;
    color: grey;
}

.FilePreviewWrapper .filePreviewContainer .previewIcon {
    width: 60px;
    height: 60px;
    color: #514a9d;
}

.FilePreviewWrapper .closePreview {
    width: 35px;
    height: 35px;
    color: rgb(160, 17, 17);
    cursor: pointer;
}

.FilePreviewWrapper .filePreviewContainer p {
    font-size: 1rem;
    color: grey;
}